.greeting{
    background-color: #1f2937;
    width: 100vw;
    height: 100vh;
}

.greeting-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 70px;
    padding-top: 50px;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    background-color: #1f2937;
}

.greeting-title{
    font-size: 82px;
    color: #B8850F;
    text-align: center;
}

.greeting-text{
    font-size: 32px;
    text-align: center;
    color: white;
}

.greeting button{
    margin-top: 50px;
}

.greeting button:hover{
    color: white;
    border: 3px solid white;
}

.greeting-heroes{
    display: flex;
    position: absolute;
    justify-content: space-around;
    bottom: 7%;
    width: 100%;
}

.greeting-heroes img{
    opacity: 0.7;
}

@media screen and (max-width: 576px){
    .greeting{
        padding-top: 40px;
        gap: 80px;
    }

    .greeting-title{
        font-size: 44px;
    }

    .greeting-text{
        font-size: 24px;
    }

    .greeting-heroes img{
        width: 80px
    }
}