.form{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    width: 100%
}

.form-header h2{
    font-size: 36px;
}

.form section{
    width: 50%;
}

.form-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-field{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    font-size: 24px;
    width: 100%;
}

.form-field span{
    display: inline-block;
    white-space: nowrap;
}

.form-field input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #a9a9a9;
    font-size: 18px;
    color: #1f2937;
}

textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #a9a9a9;
    font-size: 18px;
    color: #1f2937;
    resize: none;
}

.form-actions button{
    margin-right: 20px;
}
