.footer{
    background-color: #1f2937;
    padding: 30px 0;
    width: 100%;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.footer p{
    font-size: 18px;
    color: #B8850F;
}

@media screen and (max-width: 576px){
    .footer{
        padding: 20px 0;
    }

    .footer-container{
        flex-direction: column-reverse;
    }
}