.header{
    width: 100%;
    padding: 20px 0;
    background-color: #1f2937;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-logo{
    color: #B8850F;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 576px){
    .header-logo{
        font-size: 24px;
        text-align: center;
    }
}