.superpower{
    width: 100%;
}

.superpower-input{
    display: flex;
    gap: 5px;
}

.superpower-input button{
    padding: 5px 10px;
}

.superpower-chips{
    padding-top: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.superpower-chip{
    display: inline-block;
    font-size: 18px;
    border: 1px solid #1f2937;
    border-radius: 10px;
    padding: 5px;
}

.superpower-chips span{
    color: red;
    padding: 3px;
    cursor: pointer;
}